SeriLog/log.json
SeriLog/log.txt
WeatherApplication/.vs/WeatherApplication/FileContentIndex/12320c78-b476-4c5b-b717-cb5221fa38e7.vsidx
WeatherApplication/.vs/WeatherApplication/FileContentIndex/7ac885da-0be9-46c1-991b-16a38f2f3bd7.vsidx
WeatherApplication/.vs/WeatherApplication/FileContentIndex/a814522b-0373-4f98-9e80-5043b7e83f01.vsidx
WeatherApplication/.vs/WeatherApplication/FileContentIndex/be889bc7-e79b-4757-a7ac-a00da0d6a596.vsidx
WeatherApplication/.vs/WeatherApplication/FileContentIndex/db620523-1596-4bcc-bf96-7bc47bac82b3.vsidx
WeatherApplication/WeatherApplication/appsettings.Development.json
WeatherApplication/WeatherApplication/WeatherApplication.csproj
WeatherApplication/WeatherApplication/WeatherApplication.csproj.user
WeatherApplication/WeatherApplication/bin/Debug/net8.0/appsettings.Development.json
WeatherApplication/WeatherApplication/bin/Debug/net8.0/appsettings.json
WeatherApplication/WeatherApplication/bin/Debug/net8.0/Castle.Core.dll
WeatherApplication/WeatherApplication/bin/Debug/net8.0/Microsoft.Extensions.DependencyModel.dll
WeatherApplication/WeatherApplication/bin/Debug/net8.0/Microsoft.OpenApi.dll
WeatherApplication/WeatherApplication/bin/Debug/net8.0/Moq.dll
WeatherApplication/WeatherApplication/bin/Debug/net8.0/Newtonsoft.Json.dll
WeatherApplication/WeatherApplication/bin/Debug/net8.0/Serilog.AspNetCore.dll
WeatherApplication/WeatherApplication/bin/Debug/net8.0/Serilog.dll
WeatherApplication/WeatherApplication/bin/Debug/net8.0/Serilog.Extensions.Hosting.dll
WeatherApplication/WeatherApplication/bin/Debug/net8.0/Serilog.Extensions.Logging.dll
WeatherApplication/WeatherApplication/bin/Debug/net8.0/Serilog.Formatting.Compact.dll
WeatherApplication/WeatherApplication/bin/Debug/net8.0/Serilog.Settings.Configuration.dll
WeatherApplication/WeatherApplication/bin/Debug/net8.0/Serilog.Sinks.Console.dll
WeatherApplication/WeatherApplication/bin/Debug/net8.0/Serilog.Sinks.Debug.dll
WeatherApplication/WeatherApplication/bin/Debug/net8.0/Serilog.Sinks.File.dll
WeatherApplication/WeatherApplication/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
WeatherApplication/WeatherApplication/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
WeatherApplication/WeatherApplication/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
WeatherApplication/WeatherApplication/bin/Debug/net8.0/WeatherApplication.deps.json
WeatherApplication/WeatherApplication/bin/Debug/net8.0/WeatherApplication.dll
WeatherApplication/WeatherApplication/bin/Debug/net8.0/WeatherApplication.exe
WeatherApplication/WeatherApplication/bin/Debug/net8.0/WeatherApplication.pdb
WeatherApplication/WeatherApplication/bin/Debug/net8.0/WeatherApplication.runtimeconfig.json
WeatherApplication/WeatherApplication/bin/Debug/net8.0/WeatherApplication.staticwebassets.runtime.json
WeatherApplication/WeatherApplication/obj/project.assets.json
WeatherApplication/WeatherApplication/obj/project.nuget.cache
WeatherApplication/WeatherApplication/obj/WeatherApplication.csproj.nuget.dgspec.json
WeatherApplication/WeatherApplication/obj/WeatherApplication.csproj.nuget.g.props
WeatherApplication/WeatherApplication/obj/WeatherApplication.csproj.nuget.g.targets
WeatherApplication/WeatherApplication/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
WeatherApplication/WeatherApplication/obj/Debug/net8.0/ApiEndpoints.json
WeatherApplication/WeatherApplication/obj/Debug/net8.0/apphost.exe
WeatherApplication/WeatherApplication/obj/Debug/net8.0/staticwebassets.build.json
WeatherApplication/WeatherApplication/obj/Debug/net8.0/staticwebassets.development.json
WeatherApplication/WeatherApplication/obj/Debug/net8.0/staticwebassets.pack.json
WeatherApplication/WeatherApplication/obj/Debug/net8.0/WeatherA.58898938.Up2Date
WeatherApplication/WeatherApplication/obj/Debug/net8.0/WeatherApplication.AssemblyInfo.cs
WeatherApplication/WeatherApplication/obj/Debug/net8.0/WeatherApplication.AssemblyInfoInputs.cache
WeatherApplication/WeatherApplication/obj/Debug/net8.0/WeatherApplication.assets.cache
WeatherApplication/WeatherApplication/obj/Debug/net8.0/WeatherApplication.csproj.AssemblyReference.cache
WeatherApplication/WeatherApplication/obj/Debug/net8.0/WeatherApplication.csproj.BuildWithSkipAnalyzers
WeatherApplication/WeatherApplication/obj/Debug/net8.0/WeatherApplication.csproj.CoreCompileInputs.cache
WeatherApplication/WeatherApplication/obj/Debug/net8.0/WeatherApplication.csproj.FileListAbsolute.txt
WeatherApplication/WeatherApplication/obj/Debug/net8.0/WeatherApplication.dll
WeatherApplication/WeatherApplication/obj/Debug/net8.0/WeatherApplication.GeneratedMSBuildEditorConfig.editorconfig
WeatherApplication/WeatherApplication/obj/Debug/net8.0/WeatherApplication.genruntimeconfig.cache
WeatherApplication/WeatherApplication/obj/Debug/net8.0/WeatherApplication.GlobalUsings.g.cs
WeatherApplication/WeatherApplication/obj/Debug/net8.0/WeatherApplication.MvcApplicationPartsAssemblyInfo.cache
WeatherApplication/WeatherApplication/obj/Debug/net8.0/WeatherApplication.MvcApplicationPartsAssemblyInfo.cs
WeatherApplication/WeatherApplication/obj/Debug/net8.0/WeatherApplication.pdb
WeatherApplication/WeatherApplication/obj/Debug/net8.0/WeatherApplication.RazorAssemblyInfo.cache
WeatherApplication/WeatherApplication/obj/Debug/net8.0/WeatherApplication.RazorAssemblyInfo.cs
WeatherApplication/WeatherApplication/obj/Debug/net8.0/WeatherApplication.sourcelink.json
WeatherApplication/WeatherApplication/obj/Debug/net8.0/ref/WeatherApplication.dll
WeatherApplication/WeatherApplication/obj/Debug/net8.0/refint/WeatherApplication.dll
WeatherApplication/WeatherApplication/obj/Debug/net8.0/scopedcss/bundle/WeatherApplication.styles.css
WeatherApplication/WeatherApplication/obj/Debug/net8.0/scopedcss/projectbundle/WeatherApplication.bundle.scp.css
WeatherApplication/WeatherApplication/obj/Debug/net8.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
WeatherApplication/WeatherApplication/obj/Debug/net8.0/staticwebassets/msbuild.build.WeatherApplication.props
WeatherApplication/WeatherApplication/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.WeatherApplication.props
WeatherApplication/WeatherApplication/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.WeatherApplication.props
WeatherApplication/WeatherApplication/obj/Debug/net8.0/staticwebassets/msbuild.WeatherApplication.Microsoft.AspNetCore.StaticWebAssets.props
WeatherApplication/WeatherApplication/wwwroot/favicon.ico
WeatherApplication/WeatherApplication/wwwroot/css/site.css
WeatherApplication/WeatherApplication/wwwroot/js/site.js
WeatherApplication/WeatherApplication/wwwroot/lib/bootstrap/LICENSE
WeatherApplication/WeatherApplication/wwwroot/lib/bootstrap/dist/css/bootstrap.css
WeatherApplication/WeatherApplication/wwwroot/lib/bootstrap/dist/css/bootstrap.css.map
WeatherApplication/WeatherApplication/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css
WeatherApplication/WeatherApplication/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css.map
WeatherApplication/WeatherApplication/wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.css
WeatherApplication/WeatherApplication/wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.css.map
WeatherApplication/WeatherApplication/wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.min.css
WeatherApplication/WeatherApplication/wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.min.css.map
WeatherApplication/WeatherApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css
WeatherApplication/WeatherApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css.map
WeatherApplication/WeatherApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css
WeatherApplication/WeatherApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css.map
WeatherApplication/WeatherApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.rtl.css
WeatherApplication/WeatherApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.rtl.css.map
WeatherApplication/WeatherApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.rtl.min.css
WeatherApplication/WeatherApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.rtl.min.css.map
WeatherApplication/WeatherApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css
WeatherApplication/WeatherApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css.map
WeatherApplication/WeatherApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css
WeatherApplication/WeatherApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css.map
WeatherApplication/WeatherApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.rtl.css
WeatherApplication/WeatherApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.rtl.css.map
WeatherApplication/WeatherApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.rtl.min.css
WeatherApplication/WeatherApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.rtl.min.css.map
WeatherApplication/WeatherApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.css
WeatherApplication/WeatherApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.css.map
WeatherApplication/WeatherApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.min.css
WeatherApplication/WeatherApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.min.css.map
WeatherApplication/WeatherApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.css
WeatherApplication/WeatherApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.css.map
WeatherApplication/WeatherApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.min.css
WeatherApplication/WeatherApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.min.css.map
WeatherApplication/WeatherApplication/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js
WeatherApplication/WeatherApplication/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js.map
WeatherApplication/WeatherApplication/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js
WeatherApplication/WeatherApplication/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js.map
WeatherApplication/WeatherApplication/wwwroot/lib/bootstrap/dist/js/bootstrap.esm.js
WeatherApplication/WeatherApplication/wwwroot/lib/bootstrap/dist/js/bootstrap.esm.js.map
WeatherApplication/WeatherApplication/wwwroot/lib/bootstrap/dist/js/bootstrap.esm.min.js
WeatherApplication/WeatherApplication/wwwroot/lib/bootstrap/dist/js/bootstrap.esm.min.js.map
WeatherApplication/WeatherApplication/wwwroot/lib/bootstrap/dist/js/bootstrap.js
WeatherApplication/WeatherApplication/wwwroot/lib/bootstrap/dist/js/bootstrap.js.map
WeatherApplication/WeatherApplication/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js
WeatherApplication/WeatherApplication/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js.map
WeatherApplication/WeatherApplication/wwwroot/lib/jquery/LICENSE.txt
WeatherApplication/WeatherApplication/wwwroot/lib/jquery/dist/jquery.js
WeatherApplication/WeatherApplication/wwwroot/lib/jquery/dist/jquery.min.js
WeatherApplication/WeatherApplication/wwwroot/lib/jquery/dist/jquery.min.map
WeatherApplication/WeatherApplication/wwwroot/lib/jquery-validation/LICENSE.md
WeatherApplication/WeatherApplication/wwwroot/lib/jquery-validation/dist/additional-methods.js
WeatherApplication/WeatherApplication/wwwroot/lib/jquery-validation/dist/additional-methods.min.js
WeatherApplication/WeatherApplication/wwwroot/lib/jquery-validation/dist/jquery.validate.js
WeatherApplication/WeatherApplication/wwwroot/lib/jquery-validation/dist/jquery.validate.min.js
WeatherApplication/WeatherApplication/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js
WeatherApplication/WeatherApplication/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js
WeatherApplication/WeatherApplication/wwwroot/lib/jquery-validation-unobtrusive/LICENSE.txt
WeatherApplication/WeatherAppTests/WeatherAppTests.csproj
WeatherApplication/WeatherAppTests/bin/Debug/net8.0/CoverletSourceRootsMapping_WeatherAppTests
WeatherApplication/WeatherAppTests/obj/project.assets.json
WeatherApplication/WeatherAppTests/obj/project.nuget.cache
WeatherApplication/WeatherAppTests/obj/WeatherAppTests.csproj.nuget.dgspec.json
WeatherApplication/WeatherAppTests/obj/WeatherAppTests.csproj.nuget.g.props
WeatherApplication/WeatherAppTests/obj/WeatherAppTests.csproj.nuget.g.targets
WeatherApplication/WeatherAppTests/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
WeatherApplication/WeatherAppTests/obj/Debug/net8.0/WeatherAppTests.AssemblyInfo.cs
WeatherApplication/WeatherAppTests/obj/Debug/net8.0/WeatherAppTests.AssemblyInfoInputs.cache
WeatherApplication/WeatherAppTests/obj/Debug/net8.0/WeatherAppTests.assets.cache
WeatherApplication/WeatherAppTests/obj/Debug/net8.0/WeatherAppTests.csproj.AssemblyReference.cache
WeatherApplication/WeatherAppTests/obj/Debug/net8.0/WeatherAppTests.GeneratedMSBuildEditorConfig.editorconfig
WeatherApplication/WeatherAppTests/obj/Debug/net8.0/WeatherAppTests.GlobalUsings.g.cs
